[[local|localrc]]
DEST=/opt/stack
LOGDIR=$DEST/logs
LOGFILE=$LOGDIR/stack.sh.log
SERVICE_HOST={{ inventory_hostname }}
IMAGE_HOST=$SERVICE_HOST
IDENTITY_HOST=$SERVICE_HOST
ADMIN_PASSWORD={{ nova_password }}
MYSQL_PASSWORD=vuezSj6dEz8k953feN
RABBIT_PASSWORD=q87tent7KUUS5zE7SX
SERVICE_PASSWORD=2tHRvcPv9uV5HDDtfk
SERVICE_TOKEN=frXLrf2m4BuHqsGL7x

# logging will fill up the disk
DATABASE_QUERY_LOGGING=False

# Enable Glance
ENABLED_SERVICES+=,g-api,g-reg

[[post-config|$NOVA_CONF]]
[osapi_v3]
enabled = True
